language: go

env:
  - GO_TEST_CMD=goveralls

go:
  - 1.7.x
  - 1.8.x
  - 1.9.x  

before_script:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - $GOPATH/bin/goveralls -service=travis-pro

